<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1 style="color: 0dd">Welcome to DarkSecrets <%= @user.name %>!</h1>
    <p>Please confirm your email by clicking the link below:</p>
    <p><a href="<%= @url %>">Confirm</a></p>
  </body>
</html>